:root {
  --primary: #F44336;
  /* Needed for some hover effects. This is just the R, G and B values of the hex color above */
  --primary-rgb: 244, 67, 54;
  /* Used for links */
  --primary-light: #F6685E;
  --primary-lightest: #F88E86;
}

.overview-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.overview-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .75rem;
  margin-bottom: .75rem;
}


/* Small screens */
@media screen and (max-width: 1380px) {
.overview-list.info-list li {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

  }
  .profile-picture {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 640px) {
.overview-list.socials-list {
    margin-top: 1rem;
}
}

a {
  color: var(--primary-light);
  text-decoration: none;
  transition: color .15s ease;
}

a:hover {
  color: var(--primary-lightest);
  text-decoration: underline;
}

.no-mt {
  margin-top: 0;
}

.no-mt.mt-b {
    margin-top: 0;
    margin-bottom: 0;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.glow-icon {
  color: var(--primary);
  filter: drop-shadow(0 0 4px var(--primary));
}

.expressive-code {
  margin-top: 1rem;
}

.expressive-code figure {
  box-shadow: none !important;
}

.expressive-code figure pre {
  border-radius: 0 !important;
}

.expressive-code figcaption {
  border: none !important;
  border-radius: 0 !important;
}

.expressive-code figcaption::before {
  border: none !important;
}

.expressive-code span.title:not(.is-terminal span.title) {
  border-radius: 0 !important;
}

.expressive-code span.title::after {
  border-top: 1px solid var(--primary) !important;
  border-bottom: 0 !important;
}

.expressive-code .frame.has-title:not(.is-terminal) figcaption.header {
  border-radius: 0 !important;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #353535;
  color: #ffffff;
  text-decoration: none;
  transition: background-color .15s ease, border .15s ease;
}

.post-container:hover, .post-container:focus-visible {
  background-color: rgba(var(--primary-rgb), .125);
  border: 1px solid var(--primary);
  color: white;
  text-decoration: none;
}

.post-container:focus-visible {
  outline: none;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-header h3 {
  margin: 0;
}

.post-date {
  color: #c7c7c7;
}

.text-glow {
  color: var(--primary);
  filter: drop-shadow(0 0 12px var(--primary));
}

.block-link {
  color: white;
  padding: .25rem .5rem;
}

.block-link:hover, .block-link:focus-visible {
  color: white;
  background-color: var(--primary);
  text-decoration: none;
  outline: none;
}

@media screen and (max-width: 1380px) {
  body {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 640px) {
  body {
    padding: 0;
  }

  main {
    padding-top: 0;
    gap: 1rem;
  }

  .post-header {
    flex-direction: column;
    gap: .5rem;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img[alt="The Sims 4 Configuration"] {
  width: 100%;
}
img[alt="The Sims 4 Game Options"] {
  width: 100%;
}
img[alt="The Sims 4 running on Linux Mint"] {
  height: auto;
}