---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;
---

<div class='card' class:list={[className]} {...props}>
  <slot />
</div>
<style>
  .card {
    width: 100%;
    height: auto;
    background-color: #121212;
    border: 1px solid #353535;
    padding: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  /* Small screens . mobile */
  @media screen and (max-width: 640px) {
    .card.small-card {
      font-size: small;
      align-items: center;
    }
  }
  /* Pantallas medianas-grandes (ej: laptops pequeñas) */
  @media screen and (min-width: 640px) and (max-width: 1380px) {
    /* estilos para pantallas medianas */
    .card.small-card {
      align-items: center;
      justify-content: center;
    }
  }
  /* Small screens . tablets*/
  @media screen and (max-width: 1380px) {
    .card.small-card {
      height: 220px;
      padding: 1rem;
    }
    .card.small-card.info-card {
      align-items: center;
    }
  }
</style>
